body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #163343;
}

.main {
  width: 95%;
  height: 95%;
}

.background-img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 60%;
  background-image: url("/img/background.jpg");
  background-size: cover;
}

.background-linear {
  width: 100%;
  height: 40%;
  background-image: linear-gradient(
    360deg,
    #020024 0%,
    #051320 35%,
    #163341 100%
  );
  border-radius: 0px 0px 10px 10px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 95%;
  height: 95%;
}

.wrapper-conteudo-superior {
  display: flex;
  width: 60%;
  height: 60%;
}

.capa-filme {
  border-radius: 7px;
  width: 30%;
  height: 100%;
  box-shadow: 10px 5px 5px #00000050;
}

.informa-conteudo-superior {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 10px;
}

.catalago-menu {
  display: flex;
}

.link-primario {
  text-decoration: none;
  color: #aeb9b9;
}

.link-destaque {
  text-decoration: none;
  color: #187caa;
  font-weight: 700;
}

.txt-titulo {
  font-size: 2rem;
  font-weight: 700;
  line-height: 42px;
  color: #f7feff;
}

.txt-sub-titulo {
  font-size: 1rem;
  line-height: 26px;
  color: #f3f3f3;
}

.btn-tipos-filmes {
  border: none;
  background-color: #10111790;
  color: #187caa;
  padding: 0.5rem;
  margin-right: 1rem;
  font-weight: 700;
}

.wrapper-audiencia {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.wrapper-nota-filme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.wrapper-alinha-estrela {
  display: flex;
  align-items: center;
  color: #f8e526;
}

.wrapper-nota {
  margin-left: 10px;
}

.txt-nota {
  color: #f6e41f;
  font-size: 1.5rem;
  font-weight: 700;
}

.txt-audiencia {
  color: #f6e41f;
  font-size: 1rem;
}

.btn-rate {
  font-size: 12px;
  border: none;
  border-radius: 4px;
  background-color: #05afef;
  color: #f3f3f3;
  padding: 0.8em 2em;
  margin-top: 1rem;
  cursor: pointer;
  transition-duration: 300ms;
}

.wrapper-criticas{
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 15%;
  /* padding: 0.2rem 1rem;
  border-top: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    #020024 0%,
    #051320 35%,
    #163341 100%
  ); */

}

.notas-critica{
    font-size: 1rem;
    font-weight: 700;
    color: #134675;
}

.avaliacoes-criticas{
  display: flex;
  width: 80%;

}

.wrapper-geral-critica{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 100%;
}

.wrapper-score-critica{
  display: flex;
  align-items: center;
}

.txt-destaque-numeros{
  font-size: 2rem;
  font-weight: 700;
  color: #28A2D5;
}

.txt-sub-media{
  font-size: 1.4rem;
  color: #24282B;
}

.txt-sub-descricao{
  font-size: 1rem;
  color: #A4B4C3;
}