<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/reset.css" />
    <link rel="stylesheet" href="./styles/styles.css" />
    <title>Mauá Frutas Online</title>
</head>

<body>
    <main class="container">
        <header class="header">

        </header>
        <section class="slide-bar">
            <img class="img-slide" src="https://blueskytechmage.com/ayo/media/slidebanner/s/l/slider-home9-2.jpg">
            </div>
        </section>
        <section class="benefits">
            <div class="box-benefits">
                <div class="wrapper-box-benefits">
                    <img class="img-benefits" src="./image/shipped.png" />
                    <div class="wrapper-info-benefits">
                        <h3 class="title-benefits">Entrega Grátis</h3>
                        <h4 class="sub-title-benefits">Acima de R$ 30,00</h4>
                    </div>
                </div>
                <div class="wrapper-box-benefits">
                    <img class="img-benefits" src="./image/shipped.png" />
                    <div class="wrapper-info-benefits">
                        <h3 class="title-benefits">Pagamento Seguro</h3>
                        <h4 class="sub-title-benefits">100% criptografado</h4>
                    </div>
                </div>
                <div class="wrapper-box-benefits">
                    <img class="img-benefits" src="./image/shipped.png" />
                    <div class="wrapper-info-benefits">
                        <h3 class="title-benefits">Compra Segura</h3>
                        <h4 class="sub-title-benefits">Garantia de entrega</h4>
                    </div>
                </div>
                <div class="wrapper-box-benefits">
                    <img class="img-benefits" src="./image/shipped.png" />
                    <div class="wrapper-info-benefits">
                        <h3 class="title-benefits">Suporte 24hrs</h3>
                        <h4 class="sub-title-benefits">Entre em contato</h4>
                    </div>
                </div>
                <div class="wrapper-box-benefits">
                    <img class="img-benefits" src="./image/shipped.png" />
                    <div class="wrapper-info-benefits">
                        <h3 class="title-benefits">Serviço amigavél</h3>
                        <h4 class="sub-title-benefits">Garantia de qualidade</h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="new-arrivals">
            <div class="box-title-new-arrival">
                <div class="wrapper-title-new-arrival">
                    <span class="title-new-arrival">Novos Produtos</span>
                    <span class="sub-title-new-arrival">chegaram hoje</span>
                </div>
                <div class="line-separator"></div>
                <div class="wrapper-plus-slides">
                    <a class="prev">&#10094;</a>
                    <a class="next">&#10095;</a>
                </div>
            </div>

            <!-- Frist box  -->
            <div class="box-new-arrival1 fade">
                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/6e73f21b_51a41a55/igran_valencia.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Valência 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>

                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/b3fde1c1_4e57b658/igran_folhamurcha.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Folha Murcha 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>

                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/5d127888_ebc85b86/igran_charmute.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Charmute 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>

                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/5d127888_ebc85b86/igran_charmute.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Charmute 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>
            </div>
            <!-- Second box  -->
            <div class="box-new-arrival2 inactive fade">
                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/6e73f21b_51a41a55/igran_valencia.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Valência 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 5,99</span>
                    </div>
                </div>

                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/b3fde1c1_4e57b658/igran_folhamurcha.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Folha Murcha 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>

                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/5d127888_ebc85b86/igran_charmute.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Charmute 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>

                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/5d127888_ebc85b86/igran_charmute.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Charmute 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="banners">
            <div class="box-banners">
                <img class="img-banner" src="https://blueskytechmage.com/ayo/media/banner9-1.jpg">
                <img class="img-banner" src="https://blueskytechmage.com/ayo/media/banner9-2.jpg">
                <img class="img-banner" src="https://blueskytechmage.com/ayo/media/banner9-3.jpg">
            </div>
        </section>
    </main>
    <footer class="footer">
        <p class="text-footer">© 2021 - Desenvolvido para estudos.</p>
    </footer>
    <script type="module" src="scripts/index.js"></script>
    <script src="https://kit.fontawesome.com/a899726fcb.js" crossorigin="anonymous"></script>
</body>

</html>