<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/reset.css" />
    <link rel="stylesheet" href="./styles/styles.css" />
    <title>Mauá Frutas Online</title>
</head>

<body>
    <main class="container">
        <header class="header">
            <div class="box-top-bar">
                <p class="top-bar-msg">
                    Obtenha frete grátis - Garantia de entrega em até 02 horas após confirmação de pagamento.
                </p>
            </div>
            <div class="wrapper-header-menu">
                <img class="header-logo" src="https://blueskytechmage.com/ayo/media/logo/stores/32/logo-organix.png" />
                <nav class="nav-menu">
                    <ul class="list-menu">
                        <li class="list-item">DUVIDAS</li>
                        <li class="list-item">BLOG</li>
                        <li class="list-item">SAIBA MAIS</li>
                        <li class="list-item">CONTATO</li>
                        <li class="list-item">LISTA DE COMPRAS</li>
                    </ul>
                </nav>
            </div>
            <div class="wrapper-header-search">
                <div class="list-product">
                    <i class="fas-color fas fa-bars fa-lg"></i>
                    <span class="title-product">PRODUTOS</span>
                </div>
                <div class="wrapper-input-search">
                    <button class="btn-category">Categorias</button>
                    <input class="search-product" type="text" placeholder="Digite o nome do produto " />
                    <button class="btn-search">Buscar</button>
                </div>
                <div class="wrapper-icons">
                    <a href="#"><img class="img-cart" title="Comparar" src="image/dollar-tag.png" /></a>
                    <a href="#"><img class="img-cart" title="Favoritos" src="image/star.png" /></a>
                    <a href="#"><img class="img-cart" title="Carrinho" src="image/shopping-cart.png" /></a>
                </div>
            </div>
        </header>
        <section class="slide-bar">
            <img class="img-slide" src="https://blueskytechmage.com/ayo/media/slidebanner/s/l/slider-home9-2.jpg">
            </div>
        </section>
        <section class="benefits">
            <div class="box-benefits">
                <div class="wrapper-box-benefits">
                    <img class="img-benefits" src="./image/shipped.png" />
                    <div class="wrapper-info-benefits">
                        <h3 class="title-benefits">Entrega Grátis</h3>
                        <h4 class="sub-title-benefits">Acima de R$ 30,00</h4>
                    </div>
                </div>
                <div class="wrapper-box-benefits">
                    <img class="img-benefits" src="./image/shipped.png" />
                    <div class="wrapper-info-benefits">
                        <h3 class="title-benefits">Pagamento Seguro</h3>
                        <h4 class="sub-title-benefits">100% criptografado</h4>
                    </div>
                </div>
                <div class="wrapper-box-benefits">
                    <img class="img-benefits" src="./image/shipped.png" />
                    <div class="wrapper-info-benefits">
                        <h3 class="title-benefits">Compra Segura</h3>
                        <h4 class="sub-title-benefits">Garantia de entrega</h4>
                    </div>
                </div>
                <div class="wrapper-box-benefits">
                    <img class="img-benefits" src="./image/shipped.png" />
                    <div class="wrapper-info-benefits">
                        <h3 class="title-benefits">Suporte 24hrs</h3>
                        <h4 class="sub-title-benefits">Entre em contato</h4>
                    </div>
                </div>
                <div class="wrapper-box-benefits">
                    <img class="img-benefits" src="./image/shipped.png" />
                    <div class="wrapper-info-benefits">
                        <h3 class="title-benefits">Serviço amigavél</h3>
                        <h4 class="sub-title-benefits">Garantia de qualidade</h4>
                    </div>
                </div>
            </div>
        </section>
        <!-- Slideshow container -->
        <section class="new-arrivals">

            <div class="box-title-new-arrival">
                <div class="wrapper-title-new-arrival">
                    <span class="title-new-arrival">Novos Produtos</span>
                    <span class="sub-title-new-arrival">chegaram hoje</span>
                </div>
                <div class="line-separator"></div>
                <div class="wrapper-plus-slides">
                    <a class="prev">&#10094;</a>
                    <a class="next">&#10095;</a>
                </div>
            </div>


            <!-- Frist box  -->
            <div class="box-new-arrival1 fade">
                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/6e73f21b_51a41a55/igran_valencia.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Valência 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>

                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/b3fde1c1_4e57b658/igran_folhamurcha.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Folha Murcha 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>

                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/5d127888_ebc85b86/igran_charmute.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Charmute 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>

                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/5d127888_ebc85b86/igran_charmute.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Charmute 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>
            </div>
            <!-- Second box  -->
            <div class="box-new-arrival2 inactive fade">
                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/6e73f21b_51a41a55/igran_valencia.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Valência 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 5,99</span>
                    </div>
                </div>

                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/b3fde1c1_4e57b658/igran_folhamurcha.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Folha Murcha 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>

                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/5d127888_ebc85b86/igran_charmute.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Charmute 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>

                <div class="box-product">
                    <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/5d127888_ebc85b86/igran_charmute.png">
                    <div class="wrapper-box-products">
                        <span class="name-product">Laranja Charmute 1KG</span>
                        <span class="rating-product">Nota do Produto: 10</span>
                        <span class="price-product">R$ 2,99</span>
                    </div>
                </div>



            </div>

        </section>



    </main>
    <script type="module" src="scripts/index.js"></script>
    <script src="https://kit.fontawesome.com/a899726fcb.js" crossorigin="anonymous"></script>
</body>

</html>