<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/a899726fcb.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/style.css" />
  <title>Treinamento Layout</title>
</head>

<body>
  <main class="main">
    <div class="conteudo">
      <div class="wrapper-conteudo-superior">
        <img class="capa-filme" src="/img/principal.jpg" alt="" />
        <div class="informa-conteudo-superior">
          <nav>
            <ul class="catalago-menu">
              <a href="#" class="link-primario">
                <li>Home Page ></li>
              </a>
              <a href="#" class="link-primario">
                <li>Marvel ></li>
              </a>
              <a href="#" class="link-destaque">
                <li>Avangers</li>
              </a>
            </ul>
          </nav>
          <div class="wrapper-catalago-titulo">
            <h1 class="txt-titulo">Avangers Vol 1</h1>
            <h2 class="txt-sub-titulo">14 Dezembro 2018 (USA)</h2>
          </div>
          <div class="wrapper-button-tipos">
            <button class="btn-tipos-filmes">Ação</button>
            <button class="btn-tipos-filmes">Aventura</button>
            <button class="btn-tipos-filmes">Fantasia</button>
          </div>
          <div class="wrapper-descricao">
            <h2 class="txt-sub-titulo">Descrição:</h2>
            <h2 class="txt-sub-titulo">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              et temporibus cum commodi modi ad aut! Aliquam ipsum quaerat
              blanditiis itaque velit, laudantium vero minus, esse beatae, at
              nemo id.
            </h2>
          </div>
          <div class="wrapper-audiencia">
            <div class="wrapper-nota-filme">
              <div class="wrapper-alinha-estrela">
                <i class="far fa-star fa-lg"></i>
                <div class="wrapper-nota">
                  <p class="txt-nota">8.5</p>
                  <p class="txt-audiencia">Imdb Rating</p>
                </div>
              </div>
              <button class="btn-rate">Rate This Movie</button>
            </div>
            <div class="wrapper-nota-filme">
              <div class="wrapper-alinha-estrela">
                <i class="far fa-star fa-lg"></i>
                <div class="wrapper-nota">
                  <p class="txt-nota">75%</p>
                  <p class="txt-audiencia">Audience</p>
                </div>
              </div>
              <button class="btn-rate">Watch Trailer</button>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper-criticas">
        <p class="notas-critica">Critic Score</p>
        <div class="avaliacoes-criticas">
          <div class="wrapper-geral-critica">
            <div class="wrapper-score-critica">
              <p class="txt-destaque-numeros">8.2/</p>
              <spam class="txt-sub-media">10</spam>
            </div>
            <p class="txt-sub-descricao">Classificação Média</p>
          </div>

          <div class="wrapper-geral-critica">
            <div class="wrapper-score-critica">
              <p class="txt-destaque-numeros">356</p>
            </div>
            <p class="txt-sub-descricao">Classificação Média</p>
          </div>

          <div class="wrapper-geral-critica">
            <div class="wrapper-score-critica">
              <p class="txt-destaque-numeros">576</p>
            </div>
            <p class="txt-sub-descricao">Classificação Média</p>
          </div>

          <div class="wrapper-geral-critica">
            <div class="wrapper-score-critica">
              <p class="txt-destaque-numeros">132</p>
            </div>
            <p class="txt-sub-descricao">Classificação Média</p>
          </div>
        </div>
      </div>

      <div class="wrapper-criticas">
        <p class="notas-critica">Audiencie Score</p>
        <div class="avaliacoes-criticas">
          <div class="wrapper-geral-critica">
            <div class="wrapper-score-critica">
              <p class="txt-destaque-numeros">8.9/</p>
              <spam class="txt-sub-media">10</spam>
            </div>
            <p class="txt-sub-descricao">Classificação Média</p>
          </div>
          <div class="wrapper-geral-critica">
            <div class="wrapper-score-critica">
              <p class="txt-destaque-numeros">82.452</p>
            </div>
            <p class="txt-sub-descricao">Classificação Média</p>
          </div>

        </div>
      </div>
    </div>
    <div class="background-img"></div>
    <div class="background-linear"></div>
  </main>
</body>

</html>