<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Layout Netflix</title>
  </head>
  <body>
    <main class="main-index">
      <div class="logo-superior">
        <img class="img-logo" src="./img/cara.png" />
      </div>
      <form class="form-login">
        <label class="sub-titulo">Usuário</label>
        <input
          class="input-login input-usuario"
          type="text"
          name="usuario"
          id="usuario"
        />
        <label class="sub-titulo">Senha</label>
        <input class="input-login" type="password" name="senha" id="senha" />
        <div class="wrapper-botao-entrar">
          <p class="sub-titulo-senha">Esqueci a senha</p>
          <button class="botao-entrar">Entrar</button>
        </div>
      </form>
    </main>
    <script src="js/index.js"></script>
  </body>
</html>
