body {
  width: 100vw;
  height: 100vh;
  background-color: #11182b;
}

.links{
  text-decoration: none;
  color: #fff;

}

/* Login */

.mainLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.imagemLogin {
  width: 239px;
  height: 212px;
  margin-bottom: 4rem;
}

.formSecaoLogin {
  width: 90%;
}

.identificaNomeInput {
  color: #0099ff;
}

#inputUsuario,
#inputSenha {
  background-color: #0f2641;
  box-sizing: border-box;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding-left: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
}

.wrapperBotaoEntrar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.identificaEsqueciSenha {
  color: #a0a2a5;
  font-size: 1rem;
  text-decoration: none;
}

#botaoEntrar {
  background-color: #0099ff;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 7px;
  padding: 0 3em;
  height: 2.5rem;
}

/* Profile */

.mainProfile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menuSuperior {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10rem;
}

.wrapperImagemNomeUsuario {
  display: flex;
  align-items: center;
  width: 100%;
}

.imagemProfile {
  margin-left: 2rem;
  margin-right: 2rem;
}

#nomePerfil {
  color: #fff;
  font-size: 1rem;
}

#sairConta {
  background-color: #f37373;
  color: #feeeee;
  border: none;
  border-radius: 7px;
  width: 90vw;
  height: 2.5rem;
}

.menuRodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0099ff;
  color: #fff;
  height: 3rem;
  min-height: 3rem;
  width: 100%;
  box-sizing: border-box;
}

#maisOpcoes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #0099ff;
  bottom: 1rem;
  border: none;
  width: 84px;
  height: 84px;
  border-radius: 84px;
  font-size: 50px;
  box-shadow: 0 3px 6px #00000029;
}

.mainAplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wrapperTarefas {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}

#inputTarefa {
  background-color: #0f2641;
  border: 1px solid #0099ff;
  color: #fff;
  border-radius: 7px;
  padding-left: 1em;
  box-sizing: border-box;
  width: 60%;
}

#botaoAdicionarTarefa {
  background-color: #0099ff;
  border: none;
  border-radius: 7px;
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.imagemCentralApp {
  margin-top: 3rem;
  width: 211px;
  height: 160px;
}

.listaTarefas {
  flex: 1;
  color: #fff;
  margin-top: 1rem;
  width: 90%;
  overflow-y: scroll;
}

.itemTarefa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f2641;
  border: 1px solid #0099ff;
  height: 2.5rem;
  margin-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

#botaoAdicionarTarefa {
  margin-left: 1rem;
}

.list-footer {
  height: 4rem;
}
