<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a899726fcb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />

    <title>Aplicativo</title>
  </head>
  <body>
    <main class="mainAplicativo">
      <div class="wrapperTarefas">
        <input
          type="text"
          name="inputTarefa"
          id="inputTarefa"
          placeholder="Digite sua Tarefa"
        />
        <button id="botaoAdicionarTarefa">Adicionar</button>
      </div>
      <img class="imagemCentralApp" src="img/img-home.png" />

      <ul class="listaTarefas">
        <li class="itemTarefa">
          <p class="textoTarefa">Tarefa Digitada</p>
          <i class="far fa-check-circle"></i>
        </li>
        <li class="itemTarefa">
          <p class="textoTarefa">Tarefa Digitada</p>
          <i class="far fa-check-circle"></i>
        </li>
        <li class="itemTarefa">
          <p class="textoTarefa">Tarefa Digitada</p>
          <i class="far fa-check-circle"></i>
        </li>
        <li class="itemTarefa">
          <p class="textoTarefa">Tarefa Digitada</p>
          <i class="far fa-check-circle"></i>
        </li>
        <li class="itemTarefa">
          <p class="textoTarefa">Tarefa Digitada</p>
          <i class="far fa-check-circle"></i>
        </li>
        <li class="itemTarefa">
          <p class="textoTarefa">Tarefa Digitada</p>
          <i class="far fa-check-circle"></i>
        </li>
        <li class="itemTarefa">
          <p class="textoTarefa">Tarefa Digitada</p>
          <i class="far fa-check-circle"></i>
        </li>
        <li class="itemTarefa">
          <p class="textoTarefa">Tarefa Digitada</p>
          <i class="far fa-check-circle"></i>
        </li>
        <li class="itemTarefa">
          <p class="textoTarefa">Tarefa Digitada</p>
          <i class="far fa-check-circle"></i>
        </li>
      </ul>
      <div class="list-footer"></div>
      <div class="menuRodape">
        <a class="links" href="./app.html"><i class="fas fa-home"></i></a>
        <button id="maisOpcoes">+</button>
        <a class="links" href="./profile.html"><i class="fas fa-user-alt"></i></a>
      </div>
    </main>
  </body>
</html>
