<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Login</title>
  </head>
  <body>
    <main class="mainLogin">
      <img class="imagemLogin" src="./img/img-login.png" />
      <div class="formSecaoLogin">
        <label class="identificaNomeInput">Usuário</label>
        <input type="text" name="inputUsuario" id="inputUsuario" />
        <label class="identificaNomeInput">Senha</label>
        <input type="password" name="inputSenha" id="inputSenha" />
        <div class="wrapperBotaoEntrar">
          <a href="#" class="identificaEsqueciSenha">Esqueci a Senha</a>
          <a href="./app.html"><button id="botaoEntrar">Entrar</button></a>
        </div>
      </div>
    </main>
    <script src="js/index.js"></script>
  </body>
</html>
