<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script
      src="https://kit.fontawesome.com/a899726fcb.js"
      crossorigin="anonymous"
    ></script>
    <title>Profile</title>
  </head>
  <body>
    <main class="mainProfile">
      <div class="menuSuperior">
        <div class="wrapperImagemNomeUsuario">
          <img class="imagemProfile" src="img/img-profile.png" />
          <p id="nomePerfil">Jonathan Lopes</p>
        </div>
        <a href="./index.html">
          <button id="sairConta">Sair da Conta</button>
        </a>
      </div>
      <div class="menuRodape">
        <a class="links" href="./app.html"><i class="fas fa-home"></i></a>
        <button id="maisOpcoes">+</button>
        <a class="links" href="./profile.html"
          ><i class="fas fa-user-alt"></i
        ></a>
      </div>
    </main>
  </body>
</html>
