.text-cinza-medio {
  font-size: 15px;
  color: #988a98;
}

.text-black-medio{
  font-size: 20px;
  color: #232323;
  font-weight: 600;

}
.text-black-medio:hover{
  color: #d72924;
}

.text-noticias{
  font-size: 15px;
}

.text-ultimas-noticias{
  color: #d72924;
  font-weight: 600;

}


.links-personalizados{
  text-decoration: none;
  color: #988a98;
}

