<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/reset.css" />
    <link rel="stylesheet" href="./styles/styles.css" />
    <title>Jogo da Velha 01</title>
  </head>
  <body>
    <main class="container">
      <section class="panel-left">
        <div class="wrapper-left">
          <div class="wrapper-inputs">
            <input class="name-player01" placeholder="Jogador 01" />
            <div class="wrapper-switcher">
              <input class="name-player02" placeholder="Jogador 02" />
              <button class="switcher">
                <div class="switcher-ball"></div>
              </button>
            </div>
          </div>
          <span class="type-game-title">Tipo de Partida</span>
          
          <div class="wrapper-type-game">
            <span class="type-game-choice">Melhor de 3</span>
            <button class="switcher">
              <div class="switcher-ball"></div>
            </button>
            <span class="type-game-choice">Melhor de 5</span>
          </div>
          <button class="start-game">Jogar</button>
          <hr class="separator-line">
          <span class="historic-match-title">Histórico de Partidas</span>
          <hr class="separator-line">

          <div class="wrapper-historic-match">
            <div class="wrapper-box-match">
              <div class="box-winner">
                <span class="winner-title">Vencedor</span>
                <span class="winner-name">Nome do Jogador</span>
                
              </div>
              <span class="scenery-title">Cenário</span>
              <div class="historic-box">
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move"></span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
              </div>
            </div>

            <div class="wrapper-box-match">
              <div class="box-winner">
                <span class="winner-title">Vencedor</span>
                <span class="winner-name">Nome do Jogador</span>
              </div>
              <span class="scenery-title">Cenário</span>
              <div class="historic-box">
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move"></span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
              </div>
            </div>

            <div class="wrapper-box-match">
              <div class="box-winner">
                <span class="winner-title">Vencedor</span>
                <span class="winner-name">Nome do Jogador</span>
              </div>
              <span class="scenery-title">Cenário</span>
              <div class="historic-box">
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move"></span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
              </div>
            </div>

            <div class="wrapper-box-match">
              <div class="box-winner">
                <span class="winner-title">Vencedor</span>
                <span class="winner-name">Nome do Jogador</span>
              </div>
              <span class="scenery-title">Cenário</span>
              <div class="historic-box">
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move"></span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
              </div>
            </div>

            <div class="wrapper-box-match">
              <div class="box-winner">
                <span class="winner-title">Vencedor</span>
                <span class="winner-name">Nome do Jogador</span>
              </div>
              <span class="scenery-title">Cenário</span>
              <div class="historic-box">
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move"></span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
              </div>
            </div>

            <div class="wrapper-box-match">
              <div class="box-winner">
                <span class="winner-title">Vencedor</span>
                <span class="winner-name">Nome do Jogador</span>
              </div>
              <span class="scenery-title">Cenário</span>
              <div class="historic-box">
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
                <span class="historic-move"></span>
                <span class="historic-move">X</span>
                <span class="historic-move">X</span>
              </div>
            </div>
          </div>
          <hr class="separator-line">
          <button class="reset-game">Reiniciar</button>
        </div>
      </section>

      <section class="panel-central"></section>

      <section class="panel-right"></section>
    </main>
  </body>
</html>
