<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a899726fcb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style-fonts.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Sinmut - Replica Layout</title>
  </head>
  <body>
    <main class="main">
      <header class="area-header">
        <div class="header-superior">
          <div class="wrapper-header-superior-esquerda">
            <ul class="lista-header-superior">
              <a class="links-personalizados" href="#"
                ><li class="text-cinza-medio">Blog</li></a
              >
              <a class="links-personalizados" href="#"
                ><li class="text-cinza-medio">Fóruns</li></a
              >
              <a class="links-personalizados" href="#"
                ><li class="text-cinza-medio">Contato</li></a
              >
              <a class="links-personalizados" href="#"
                ><li class="text-cinza-medio">Quem Somos</li></a
              >
            </ul>
          </div>
          <div class="wrapper-header-superior-direita">
            <ul class="redes-sociais">
              <a class="links-personalizados" href="#"
                ><li><i class="fab fa-facebook-f"></i></li
              ></a>
              <a class="links-personalizados" href="#"
                ><li><i class="fab fa-twitter"></i></li
              ></a>
              <a class="links-personalizados" href="#"
                ><li><i class="fab fa-instagram"></i></li
              ></a>
            </ul>
          </div>
        </div>
        <div class="header-central">
          <spam class="header-logotipo">Sinmun</spam>

          <nav class="menu-navegacao">
            <ul class="lista-header-central">
              <a class="links-personalizados" href="#"
                ><li class="text-black-medio hover-red">Home</li></a
              >
              <a class="links-personalizados" href="#"
                ><li class="text-black-medio">Tecnologia</li></a
              >
              <a class="links-personalizados" href="#"
                ><li class="text-black-medio">Fotos</li></a
              >
              <a class="links-personalizados" href="#"
                ><li class="text-black-medio">Videos</li></a
              >
              <a class="links-personalizados" href="#"
                ><li class="text-black-medio">Viagens</li></a
              >
              <a class="links-personalizados" href="#"
                ><li class="text-black-medio">Portifolio</li></a
              >
            </ul>
          </nav>
          <div class="wrapper-pesquisa">
            <i class="far fa-user fa-lg"></i>
            <i class="fas fa-search fa-lg"></i>
          </div>
        </div>
        <div class="header-inferior">
          <div class="wrapper-ultimas-noticias">
            <h2 class="text-ultimas-noticias">Ultimas Notícias:</h2>
            <h2 class="text-noticias">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
              nihil vel.
            </h2>
          </div>
          <div class="wrapper-left-right">
            <i class="hover-icon fas fa-chevron-left"></i>
            <i class="hover-icon fas fa-chevron-right"></i>
          </div>
        </div>
      </header>

      <section class="conteudo-principal">
        <div class="painel-principal">
          <div class="wrapper-furo-reportagem">
            <div class="furo-reportagem"></div>
            <div class="wrapper-sub-furo">
              <div class="propaganda-furo"></div>
              <div class="sub-furo-noticia"></div>
            </div>
          </div>
          <div class="wrapper-sub-noticia">
            <div class="sub-noticia"></div>
            <div class="sub-noticia"></div>
          </div>
        </div>

        <div class="painel-direita">
          <p class="video-dir">| Vídeos</p>
          <div class="sub-noticia-direita"></div>
          <div class="sub-noticia-direita"></div>
          <div class="sub-noticia-direita"></div>
        </div>
      </section>

      <section class="conteudo-secundario">B</section>
    </main>
    <script src="js/index.js"></script>
  </body>
</html>
