<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a899726fcb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Layout-Avangers</title>
  </head>
  <body>
    <section class="sc-catalago">
      <div class="wrapper-catalago">
        <div class="wrapper-catalago-superior">
          <img class="img-catalago" src="/img/principal.jpg" alt="" />
          <div class="wrapper-info-superior">
            <nav>
              <ul class="catalago-menu">
                <a href="#" class="link-primario"><li>Home Page ></li> </a>
                <a href="#" class="link-primario"><li>Marvel ></li> </a>
                <a href="#" class="link-destaque"><li>Avangers</li></a>
              </ul>
            </nav>

            <div class="wrapper-catalago-titulo">
              <h1 class="txt-titulo">Avangers Vol 1</h1>
              <h2 class="txt-sub-titulo">14 Dezembro 2018 (USA)</h2>
            </div>

            <div class="wrapper-button-tipos">
              <button class="btn-tipos-filmes">Ação</button>
              <button class="btn-tipos-filmes">Aventura</button>
              <button class="btn-tipos-filmes">Fantasia</button>
            </div>

            <div class="wrapper-descricao">
              <h2 class="txt-sub-titulo">Descrição:</h2>
              <h2 class="txt-sub-titulo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                et temporibus cum commodi modi ad aut! Aliquam ipsum quaerat
                blanditiis itaque velit, laudantium vero minus, esse beatae, at
                nemo id.
              </h2>
            </div>

            <div class="wrappers-audiencia">
              <div class="wrapper-rating">
                <div class="wrapper-estrela">
                  <i class="far fa-star fa-lg"></i>
                  <div class="wrapper-notas">
                    <spam class="txt-nota">8.5</spam>
                    <p class="txt-audiencia">IMDb Rating</p>
                  </div>
                </div>
                <button class="btn-rate">Rate This Movie</button>
              </div>

              <div class="wrapper-rating">
                <div class="wrapper-estrela">
                  <i class="fab fa-free-code-camp fa-lg"></i>
                  <div class="wrapper-notas">
                    <spam class="txt-nota">75%</spam>
                    <p class="txt-audiencia">Audiência</p>
                  </div>
                </div>
                <button class="btn-rate">Watch Trailer</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper-notas">
        <div class="wrapper-nota-criticas">
          <p class="txt-descricao-critica">Notas da Crítica</p>

          <div class='wrapper-alinha-media'>
          <div class="wrapper-classifica-media">
            <div class="wrapper-media">
              <p class="txt-destaque-numeros">8.2/</p>
              <spam class="txt-sub-media">10</spam>
            </div>
            <p class="txt-sub-descricao">Classificação Média</p>
          </div>

          <div class="wrapper-contagem">
            <p class="txt-destaque-numeros">356</p>
            <p class="txt-sub-descricao">Comentários</p>
          </div>

          <div class="wrapper-contagem">
            <p class="txt-destaque-numeros">576</p>
            <p class="txt-sub-descricao">Comentários Positivos</p>
          </div>

          <div class="wrapper-contagem">
            <p class="txt-destaque-numeros">132</p>
            <p class="txt-sub-descricao">Comentários Negativos</p>
          </div>
        </div>
      </div>

        <div class="wrapper-nota-audiencias">
          <p class="txt-descricao-critica">Notas de Audiência</p>
          <div class='wrapper-alinha-audiencia'>
          <div class="wrapper-classifica-media">
            <div class="wrapper-media">
              <p class="txt-destaque-numeros">8.9/</p>
              <spam class="txt-sub-media">10</spam>
            </div>
            <p class="txt-sub-descricao">Classificação Média</p>
          </div>

          <div class="wrapper-contagem">
            <p class="txt-destaque-numeros">82,452</p>
            <p class="txt-sub-descricao">Visualizações</p>
          </div>
        </div>
        </div>
      </div>
    </section>
  </body>
</html>
