@media screen and (max-width: 360px) {
  .main{
    width: 100%;
    height: 100%;
    max-width: 360px;
  }
}

@media screen and (max-width: 360px) {
  .wrapperVencedor{
    width: 100%;
    height: 10rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  .painelRespostas{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;

  }
}

@media screen and (max-width: 360px) {
  .wrapperRespostas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 360px) {
  .contadorVencedor{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 360px) {
  .painelEsq, .painelDir, .painelCentral{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width: 360px) {
.btnEscolha{
  border: none;
  border-radius: 7px;
  width: 20%;
  height: 2em;
  background-color: #0099ff;
  cursor: pointer;
  transition-duration: 300ms;
}
}


@media screen and (max-width: 360px) {
  .painelIniciar{
    display: flex;
    margin-top: 50px;
    height: 2rem;
  }

}

/* @media screen and (max-width: 360px) {
  .estiloFonteH4  {
    height: 5rem;
  }
} */

/* @media screen and (max-width: 360px) {
  .btnInicioReset  {
    height: 2rem;
    width: 6rem;
  }
} */


