<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/a899726fcb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style.css" />
    {% block title %}
    <title>Aulas - Página Inicial</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="wrapper-header">
        <img src="https://picsum.photos/100/100" />
        <div class="description-logo">
          <h2>JL</h2>
          <h3>Dedicação</h3>
        </div>
        <div class="links">
          <a href="/">Sobre</a>
          <a href="/movies">Vídeos </a>
          <a href="/tecnology">Tecnologias</a>
          <a href="/">Github</a>
        </div>
        <div class="icons">
          <a href="tel:11975794951"
            ><i class="fab fa-whatsapp-square fa-lg"></i
          ></a>
          <a href="https://discordapp.com/invite/gCRAFhc" target="_blanc"
            ><i class="fab fa-facebook-messenger fa-lg"></i
          ></a>
          <a href="mailto:jonathanwlopes93@gmail.com"
            ><i class="fas fa-at fa-lg"></i
          ></a>
        </div>
      </div>
    </header>

    {% block content%}
    {% endblock %}
    
  </body>
</html>
