{% extends "layout.njk"%}
{% block title %}
<title>Aulas - Tecnology</title>
{% endblock%} {% block content %}
<div id="wrapper-content">
  <h1>Tecnologias</h1>
</div>
<div class="wrapper-center">
 <ul class="list-tecnology">
 <li>HTML</li>
 <li>CSS</li>
 <li>Javascript</li>
 <li>Nunjucks</li>
 <li>React Native</li>
 <li>Banco de Dados</li>
</ul>
</div>
<script src="scripts.js"></script>
{% endblock %}
