<section class="new-arrivals">
    <div class="box-title-new-arrival">
        <div class="wrapper-title-new-arrival">
            <h3 class="title-new-arrival">Novos Produtos</h3>
            <h4 class="sub-title-new-arrival">chegaram hoje</h4>
        </div>
        <div class="line-separator"></div>
        <div class="wrapper-plus-slides">
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
        </div>
    </div>

    <!-- Frist box  -->
    <div class="box-new-arrival1 fade">
        <div class="box-product">
            <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/6e73f21b_51a41a55/igran_valencia.png" />
            <div class="wrapper-box-products">
                <span class="name-product">Laranja Valência 1KG</span>
                <span class="rating-product">Nota do Produto: 10</span>
                <span class="price-product">R$ 2,99</span>
            </div>
        </div>

        <div class="box-product">
            <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/b3fde1c1_4e57b658/igran_folhamurcha.png" />
            <div class="wrapper-box-products">
                <span class="name-product">Laranja Folha Murcha 1KG</span>
                <span class="rating-product">Nota do Produto: 10</span>
                <span class="price-product">R$ 2,99</span>
            </div>
        </div>

        <div class="box-product">
            <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/5d127888_ebc85b86/igran_charmute.png" />
            <div class="wrapper-box-products">
                <span class="name-product">Laranja Charmute 1KG</span>
                <span class="rating-product">Nota do Produto: 10</span>
                <span class="price-product">R$ 2,99</span>
            </div>
        </div>

        <div class="box-product">
            <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/5d127888_ebc85b86/igran_charmute.png" />
            <div class="wrapper-box-products">
                <span class="name-product">Laranja Charmute 1KG</span>
                <span class="rating-product">Nota do Produto: 10</span>
                <span class="price-product">R$ 2,99</span>
            </div>
        </div>
    </div>
    <!-- Second box  -->
    <div class="box-new-arrival2 inactive fade">
        <div class="box-product">
            <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/6e73f21b_51a41a55/igran_valencia.png" />
            <div class="wrapper-box-products">
                <span class="name-product">Laranja Valência 1KG</span>
                <span class="rating-product">Nota do Produto: 10</span>
                <span class="price-product">R$ 5,99</span>
            </div>
        </div>

        <div class="box-product">
            <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/b3fde1c1_4e57b658/igran_folhamurcha.png" />
            <div class="wrapper-box-products">
                <span class="name-product">Laranja Folha Murcha 1KG</span>
                <span class="rating-product">Nota do Produto: 10</span>
                <span class="price-product">R$ 2,99</span>
            </div>
        </div>

        <div class="box-product">
            <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/5d127888_ebc85b86/igran_charmute.png" />
            <div class="wrapper-box-products">
                <span class="name-product">Laranja Charmute 1KG</span>
                <span class="rating-product">Nota do Produto: 10</span>
                <span class="price-product">R$ 2,99</span>
            </div>
        </div>

        <div class="box-product">
            <img class="img-product" src="http://www.citricolalucato.com.br/imagens/ImgProduto/5d127888_ebc85b86/igran_charmute.png" />
            <div class="wrapper-box-products">
                <span class="name-product">Laranja Charmute 1KG</span>
                <span class="rating-product">Nota do Produto: 10</span>
                <span class="price-product">R$ 2,99</span>
            </div>
        </div>
    </div>
</section>