<section class="benefits">
    <div class="box-benefits">
        <div class="wrapper-box-benefits">
            <img class="img-benefits" src="./image/shipped.png" />
            <div class="wrapper-info-benefits">
                <h3 class="title-benefits">Entrega Grátis</h3>
                <h4 class="sub-title-benefits">Acima de R$ 30,00</h4>
            </div>
        </div>
        <div class="wrapper-box-benefits">
            <img class="img-benefits" src="./image/shipped.png" />
            <div class="wrapper-info-benefits">
                <h3 class="title-benefits">Pagamento Seguro</h3>
                <h4 class="sub-title-benefits">100% criptografado</h4>
            </div>
        </div>
        <div class="wrapper-box-benefits">
            <img class="img-benefits" src="./image/shipped.png" />
            <div class="wrapper-info-benefits">
                <h3 class="title-benefits">Compra Segura</h3>
                <h4 class="sub-title-benefits">Garantia de entrega</h4>
            </div>
        </div>
        <div class="wrapper-box-benefits">
            <img class="img-benefits" src="./image/shipped.png" />
            <div class="wrapper-info-benefits">
                <h3 class="title-benefits">Suporte 24hrs</h3>
                <h4 class="sub-title-benefits">Entre em contato</h4>
            </div>
        </div>
        <div class="wrapper-box-benefits">
            <img class="img-benefits" src="./image/shipped.png" />
            <div class="wrapper-info-benefits">
                <h3 class="title-benefits">Serviço amigavél</h3>
                <h4 class="sub-title-benefits">Garantia de qualidade</h4>
            </div>
        </div>
    </div>
</section>