body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* Estilização de textos */
.sub-titulo {
  font-size: 2rem;
  color: #f14668;
}

.titulo-pontos {
  font-size: 3rem;
  color: #ffdd57;
}

/* Estrutura */
.main {
  width: 100vw;
  height: 100vh;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f596;
}

.wrapper-painel-pontos-superior {
  display: flex;
  width: 90%;
  height: 20%;
  margin-top: 1%;
}

/* Estilização do painel superior de pontos */
.painel-pontos-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  height: 100%;
  border-radius: 30px;
  border: 3px solid #23314a;
  background-color: #f14668;
  box-sizing: border-box;
}

.wrapper-painel-resultados {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50%;
  height: 100%;
}

.painel-resultado-final {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #48c774;
  font-size: 1.5rem;
  border-radius: 30px;
  box-sizing: border-box;
}

.painel-resultado-parcial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  background-color: #ffdd57;
  font-size: 1.5rem;
  border-radius: 30px;
  box-sizing: border-box;
}

/* Estilização do painel central e botões centrais */
.wrapper-painel-central {
  display: flex;
  flex: 1;
  border: 3px solid #23314a;
  padding: 2rem;
  width: 90%;
  margin-top: 1%;
}

.wrapper-botoes-escolha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.button-escolha {
  font-size: 1.5rem;
  border-radius: 5px;
  width: 6rem;
  height: 4rem;
  border: none;
  background-color: #ffdd57;
  color: #4c421a;
  cursor: pointer;
  transition-duration: 300ms;
}

.button-escolha:hover {
  background-color: #ffdd27;
}

.button-escolha:disabled {
  background-color: #ffdda7;
  cursor: not-allowed;
}

.wrapper-painel-imagens {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  border: 3px solid #23314a;
  border-radius: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.alerta-vencedor{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 30%;
}

.alerta-vencedor-estilo{
  border-radius: 7px;
  background-color: #00D1B241;
}

.imagem-escolha-jog1 {
  background-color: #dbdbdb96;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  width: 40%;
  height: 90%;
}

.imagem-escolha-jog2 {
  background-color: #dbdbdb96;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  width: 40%;
  height: 90%;
}

/* Estilização e estrutura de botões inferiores */
.rodape {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 10%;
}

.button-rodape {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 300ms;
  color: #feffe7;
  border: none;
}

.button-jogar {
  background-color: #48c774;
}

.button-jogar:hover {
  background-color: #48c764;
}

.button-desativar-bot {
  background-color: #f14668;
}

.button-desativar-bot:hover {
  background-color: #f14658;
}

.button-off {
  border: none;
}

.button-bot,
.button-resetar {
  background-color: #3298dc;
}

.button-bot:hover,
.button-resetar:hover {
  background-color: #3298ac;
}

/* Responsividade */
@media only screen and (max-width: 980px) {
  .painel-pontos-player,
  .painel-resultado-final-parcial,
  .button-escolha,
  .button-rodape {
    font-size: 1rem;
  }
}
